:root {
  background-color: #f0f5fa;
  color: #213547;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  --button-primary-color: #7057ff;
  --button-secondary-color: rgba(69, 67, 199, 0.15);
  --button-hover-color: #5691ff;
  --button-pressed-color: #1613b1;
  --button-disabled-color: rgba(69, 67, 199, 0.15);
  --button-border-radius: 8px;
  --button-padding-vertical: 8px;
  --button-padding-horizontal: 8px;

  --input-primary-color: #ececec;
  --input-disabled-color: rgba(69, 67, 199, 0.15);
  --input-border-radius: 8px;
  --input-padding-vertical: 8px;
  --input-padding-horizontal: 16px;

  --text-white: #ffffff;

  --global-border-color: #dbdbdb;
  --global-background-color: #ffffff;

  --indicator-error: "#f64c4c";
}

body {
  display: flex;
  /* min-width: 320px; */
  /* min-height: 100vh; */
  margin: 0;
  place-items: center;
}

.container {
  max-width: 1280px;
  margin: auto;
}

#root {
  margin: 16px auto;
}
