.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100vh;
}

.button__container {
  display: flex;
  width: 100%;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  min-width: 400px;
  max-width: 400px;

  border-radius: 16px;
  background-color: var(--global-background-color);
  padding: 16px;
}

.title {
  font-weight: bold;
}

.subtitle {
  opacity: 0.5;
}

.subtext {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #333333;
}

.button {
  width: 100%;
}

.changeType {
  display: flex;
  width: 100%;
  gap: 8px;
}
