.header {
  width: 100vw;
  background-color: var(--global-background-color);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
