.profile {
  border-radius: 8px;
  width: 100vw;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-gap: 16px;
  align-items: stretch;
}

.header {
  grid-column: 1 / -1;
}

.aside {
  grid-column: span 1;
}

.main {
  grid-column: span 1;
}
